#avatar{
    max-width: 50%;
    width: 250px;
    height:auto;
}

.name-container{
    padding: 20px;
    margin-left: 40%;
}

.name{
    
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}

.lastname-container{
    padding: 20px;
    margin-left: 40%;
}

.lastname{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}

#name{
    border: 1px solid #c5c0c0;
    border-radius: 3px;
    width: 350px;
    height: 25px;
    padding: 5px;
}

#lastname{
    border: 1px solid #c5c0c0;
    border-radius: 3px;
    width: 350px;
    height: 25px;
    padding: 5px;
}

.profile{
        padding: 20px;
        margin-left: 45%;
}

.button-container{
    padding: 20px;
    margin-left: 40%;
}

#update{
    font-size: 15px;
    width: 90px;
    height: 35px;
    border: transparent;
    border-radius: 3px;
    background-color: rgb(223, 193, 94);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#update:active{
    position: relative;
    top: 1px; /*al clickar se desplazará el boton un px*/
}